USE [master]
GO
/****** Object:  Database [BD_SISTEMA1]    Script Date: 12/11/2019 19:04:36 ******/
CREATE DATABASE [BD_SISTEMA1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SISTEMA1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_SISTEMA1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BD_SISTEMA1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_SISTEMA1_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SISTEMA1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SISTEMA1]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[nro_legajo_a] [int] IDENTITY(1,1) NOT NULL,
	[ape_nomb] [nchar](60) NOT NULL,
	[direccion] [nchar](100) NOT NULL,
	[email] [nchar](40) NOT NULL,
	[est_civil] [nchar](20) NOT NULL,
	[fec_nac] [datetime] NOT NULL,
	[cod_doc] [int] NOT NULL,
	[nro_doc] [int] NOT NULL,
	[sexo] [nchar](1) NOT NULL,
	[telefono] [nchar](40) NULL,
 CONSTRAINT [PK__alumnos__D55113AE17EC8B24] PRIMARY KEY CLUSTERED 
(
	[nro_legajo_a] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[examenes]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examenes](
	[año] [nchar](8) NOT NULL,
	[cod_materia] [int] NOT NULL,
	[cod_turno] [int] NOT NULL,
	[nro_legajo_a] [int] NOT NULL,
	[nota] [int] NOT NULL,
	[fecha_inscricpion] [datetime] NOT NULL,
 CONSTRAINT [PK__examenes__D3C52D8D06374E05] PRIMARY KEY CLUSTERED 
(
	[año] ASC,
	[cod_materia] ASC,
	[cod_turno] ASC,
	[nro_legajo_a] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[cod_materia] [int] IDENTITY(1,1) NOT NULL,
	[desc_mat] [nchar](60) NOT NULL,
	[desc_carrera] [nchar](60) NOT NULL,
	[nro_legajo_p] [int] NOT NULL,
 CONSTRAINT [PK__materias__A2BFED18D140F50E] PRIMARY KEY CLUSTERED 
(
	[cod_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planificacion]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planificacion](
	[año] [nchar](8) NOT NULL,
	[cod_materia] [int] NOT NULL,
	[cod_turno] [int] NOT NULL,
	[fecha_examen] [datetime] NOT NULL,
 CONSTRAINT [PK__planific__E938789C90164ED7] PRIMARY KEY CLUSTERED 
(
	[año] ASC,
	[cod_materia] ASC,
	[cod_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[nro_legajo_p] [int] IDENTITY(1,1) NOT NULL,
	[ape_nomb] [nchar](60) NOT NULL,
	[direccion] [nchar](100) NOT NULL,
	[email] [nchar](100) NOT NULL,
	[est_civil] [nchar](20) NOT NULL,
	[fec_nac] [datetime] NOT NULL,
	[cod_doc] [int] NOT NULL,
	[nro_doc] [int] NOT NULL,
	[sexo] [nchar](2) NOT NULL,
	[telefono] [nchar](40) NOT NULL,
	[cod_titulo] [int] NOT NULL,
 CONSTRAINT [PK__profesor__D551139F528E8816] PRIMARY KEY CLUSTERED 
(
	[nro_legajo_p] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_doc]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_doc](
	[cod_doc] [int] IDENTITY(1,1) NOT NULL,
	[desc_doc] [nchar](40) NOT NULL,
 CONSTRAINT [PK__tipo_doc__FE608ABEE00DB9B9] PRIMARY KEY CLUSTERED 
(
	[cod_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[titulos]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titulos](
	[cod_titulo] [int] IDENTITY(1,1) NOT NULL,
	[desc_titulo] [nchar](100) NOT NULL,
 CONSTRAINT [PK__titulos__83041CF41E4C772B] PRIMARY KEY CLUSTERED 
(
	[cod_titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turnos]    Script Date: 12/11/2019 19:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turnos](
	[cod_turno] [int] NOT NULL,
	[desc_turno] [nchar](40) NOT NULL,
 CONSTRAINT [PK__turnos__3FF70AAC39289880] PRIMARY KEY CLUSTERED 
(
	[cod_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alumnos]  WITH CHECK ADD  CONSTRAINT [FK_alumnos_tipo_doc] FOREIGN KEY([cod_doc])
REFERENCES [dbo].[tipo_doc] ([cod_doc])
GO
ALTER TABLE [dbo].[alumnos] CHECK CONSTRAINT [FK_alumnos_tipo_doc]
GO
ALTER TABLE [dbo].[examenes]  WITH CHECK ADD  CONSTRAINT [FK_examenes_alumnos] FOREIGN KEY([nro_legajo_a])
REFERENCES [dbo].[alumnos] ([nro_legajo_a])
GO
ALTER TABLE [dbo].[examenes] CHECK CONSTRAINT [FK_examenes_alumnos]
GO
ALTER TABLE [dbo].[examenes]  WITH CHECK ADD  CONSTRAINT [FK_examenes_planificacion] FOREIGN KEY([año], [cod_materia], [cod_turno])
REFERENCES [dbo].[planificacion] ([año], [cod_materia], [cod_turno])
GO
ALTER TABLE [dbo].[examenes] CHECK CONSTRAINT [FK_examenes_planificacion]
GO
ALTER TABLE [dbo].[materias]  WITH CHECK ADD  CONSTRAINT [FK__materias__nro_le__47DBAE45] FOREIGN KEY([nro_legajo_p])
REFERENCES [dbo].[profesores] ([nro_legajo_p])
GO
ALTER TABLE [dbo].[materias] CHECK CONSTRAINT [FK__materias__nro_le__47DBAE45]
GO
ALTER TABLE [dbo].[planificacion]  WITH CHECK ADD  CONSTRAINT [FK__planifica__cod_m__48CFD27E] FOREIGN KEY([cod_materia])
REFERENCES [dbo].[materias] ([cod_materia])
GO
ALTER TABLE [dbo].[planificacion] CHECK CONSTRAINT [FK__planifica__cod_m__48CFD27E]
GO
ALTER TABLE [dbo].[planificacion]  WITH CHECK ADD  CONSTRAINT [FK__planifica__cod_t__49C3F6B7] FOREIGN KEY([cod_turno])
REFERENCES [dbo].[turnos] ([cod_turno])
GO
ALTER TABLE [dbo].[planificacion] CHECK CONSTRAINT [FK__planifica__cod_t__49C3F6B7]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK__profesore__cod_d__4AB81AF0] FOREIGN KEY([cod_doc])
REFERENCES [dbo].[tipo_doc] ([cod_doc])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK__profesore__cod_d__4AB81AF0]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK__profesore__cod_t__4BAC3F29] FOREIGN KEY([cod_titulo])
REFERENCES [dbo].[titulos] ([cod_titulo])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK__profesore__cod_t__4BAC3F29]
GO
USE [master]
GO
