<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPFinalDB.My.MySettings.FacultadConnectionString" connectionString="Data Source=DESKTOP-JJL6GFK\SQLEXPRESS;Initial Catalog=Facultad;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="TPFinalDB.My.MySettings.BD_SISTEMA1ConnectionString" connectionString="Data Source=DESKTOP-JJL6GFK\SQLEXPRESS;Initial Catalog=BD_SISTEMA1;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
